(
    pixels_per_meter: 16,
    points: [
        (5.0, 1.0),
        (2.0, 5.0),
        (3.0, 10.0),
        (8.0, 12.0),
        (12.0, 8.0),
        (11.6667, 6.3335),
        (11.3334, 4.6667),
        (11.0, 3.0),
        (17.5, 2.0),
        (18.0, 7.0),
        (9.0, 13.0),
        (12.0, 12.75),
        (13.5, 10.0),
    ],
    regions: [
        ( height: 10.0, walls: [0, 1, 2, 3, 4, 5, 6, 7], portals: { 3: 2, 5: 1 } ),
        ( height: 10.0, walls: [7, 6, 5, 4, 9, 8], portals: {1: 0} ),
        ( height: 14.0, walls: [3, 10, 11, 12, 4], portals: { 4: 0 } ),
    ]
)